*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    background-color: var(--color-primary-light);
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}